header {
    padding-top: 70px;
    height: 670px;
    nav {
        height: 100%;
        .bg_image('../images/header_bg.jpg');
        ul {
            margin-top: (23px - 19px) / 2;
            li {
                margin-right: 120px;
                &:last-of-type {
                    margin-right: 0;
                }
                a {
                    color: @text_gray;
                    text-transform: uppercase;
                    &:hover {
                        color: @accent;
                    }
                }
            }
        }
    }
}
